aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
apify-fingerprint-datapoints==0.10.0
attrs==25.4.0
browserforge==1.2.4
camoufox==0.4.11
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cssselect==1.4.0
curl-cffi==0.14.0
frozenlist==1.8.0
geoip2==5.2.0
greenlet==3.3.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
jmespath==1.1.0
language-tags==1.2.0
loguru==0.7.3
lxml==6.0.2
maxminddb==3.0.0
multidict==6.7.1
numpy==2.4.2
orjson==3.11.7
packaging==26.0
parsel==1.11.0
platformdirs==4.5.1
playwright==1.58.0
propcache==0.4.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-core==2.41.5
pyee==13.0.0
pysocks==1.7.1
python-dotenv==1.2.1
pyyaml==6.0.3
requests==2.32.5
screeninfo==0.8.1
tenacity==9.1.4
tqdm==4.67.3
typing-extensions==4.15.0
typing-inspection==0.4.2
ua-parser==1.0.1
ua-parser-builtins==202602
urllib3==2.6.3
w3lib==2.4.0
win32-setctime==1.2.0
yarl==1.22.0
zstandard==0.25.0
